#slot-machine {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.reel {
	margin: 0 20px;
}

img {
	width: 100px;
	height: 100px;
}

#spin-button {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	font-size: 18px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
body{
        background-image: url("back.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
        height: 100vh;
        padding:0;
        margin:0;
		overflow: hidden;
	
}
h1{
	font-family: 'Tilt Warp', cursive;
	color:#F6058B;
	text-align: center;
	font-size: 100px;
}

#preHome{
    background-image: url("back.gif");
    background-color: #BBECF5;
    background-size: contain;
    background-position: center;

}


#mioBottone{
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
    background-color:#F6058B;
	font-size: 60px;
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
    width: 250px;
    height: 110px;
	font-family: 'Tilt Warp', cursive;
	opacity: 85% ;
    
}
	